.aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 200px;
}
.aboutme .aboutme-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}